langchain
langchain-core
langchain-community
langchain-google-genai
python-dotenv
langsmith
pypdf
transformers
langchain-text-splitters
sentence-transformers
langchain-huggingface
faiss-cpu
langchain-cohere
streamlit